<div>
    <h2 translate="jewelryApp.shoppingCartCustomer.home.title" ng-click="test()">Shopping Cart</h2>
    <jh-alert></jh-alert>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="jewelryApp.shoppingCartCustomer.itemId">Item Id</th>
                    <th translate="jewelryApp.shoppingCartCustomer.itemNumber">Item Number</th>
                    <th translate="jewelryApp.shoppingCartCustomer.variant">Variant</th>
                    <th translate="jewelryApp.shoppingCartCustomer.size">Size</th>
                    <th translate="jewelryApp.shoppingCartCustomer.color">Color</th>
                    <th translate="jewelryApp.shoppingCartCustomer.price">Price</th>
                    <th translate="jewelryApp.shoppingCartCustomer.quantity">Quantity</th>
                    <th translate="jewelryApp.shoppingCartCustomer.subtotal">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shoppingItem in shoppingCartDetails.shoppingCartDetailsList track by shoppingItem.item.id">
                    <td>
                        {{shoppingItem.item.id}}
                    </td>

                    <td>
                        {{shoppingItem.item.itemInformation.itemNumber}}
                    </td>

                    <td>
                        {{shoppingItem.item.name}}
                    </td>

                    <td>
                        {{shoppingItem.item.size.name}}
                    </td>

                    <td>
                        {{shoppingItem.item.color.name}}
                    </td>

                    <td>
                        {{getCurrentPriceTier(shoppingItem.item.price)}}
                    </td>

                    <td>
                        {{shoppingItem.quantity}}
                    </td>

                    <td>
                        {{shoppingItem.quantity * 1}}
                    </td>

                    <td>
                        <button type="button"
                                ui-sref="shoppingCartCustomer.delete({id:shoppingItem.item.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="6" align="right" class="bold">Total</td>
                    <td class="bold">${{shoppingCartDetails.totalPrice}}</td>
                </tr>
            </tbody>
        </table>

        <button type="button"
                class="btn btn-primary"
                ng-click="placeOrder()"
                ng-if="shoppingCartDetails.shoppingCartDetailsList.length > 0">
            <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;
            <span translate="jewelryApp.shoppingCartCustomer.placeOrder">Place order</span>
        </button>
    </div>
</div>
