.circle{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.border{
    border: thin solid black;
}

.mt-sm{
    margin-top: 45px;
}

.bold{
    font-weight: bold;
}

.no-margin{
    margin:0px;
}

.hidden{
    visibility: hidden;
}

/*BACKGROUND COLORS*/
.bg-indigo{
    background-color: #3f51b5;
}
