<div>
    <h2><span translate="jewelryApp.listItem.detail.title">Item</span> {{itemInformation.itemNumber}}</h2>
    <jh-alert></jh-alert>
    <div ng-repeat="item in itemInformation.items">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img class="img-responsive" ng-src="images/{{image.name}}" alt="" ng-repeat="image in item.images">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th translate="entity.detail.field">Field</th>
                                    <th translate="entity.detail.value">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.variant">Variant</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.name}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.size">Size</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.size.name}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.color">Color</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.color.name}}</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.tierOne">Price</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.price.tierOne}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.tierTwo">Price</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.price.tierTwo}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.tierThree">Price</span>
                                    </td>
                                    <td>
                                        <span class="form-control-static">{{item.price.tierThree}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span translate="jewelryApp.listItem.detail.quantity">Quantity</span>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control js_quantity" min="0"
                                               ng-model="item.quantity"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-primary"
                                                ng-click="sendToCart(item)">
                                            <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;<span translate="jewelryApp.listItem.detail.cart">&nbsp;Cart&nbsp;</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit"
            ui-sref="listItem"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
