<div>
    <h2><span translate="jewelryApp.listItem.detail.title">Item</span> {{itemInformation.itemNumber}}</h2>
    <button type="submit"
            ui-sref="listItemAdmin.editItemInformation({id:itemInformation.id})"
            class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
    </button>
    <div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span>ID</span></td>
                    <td><span><span class="form-control-static">{{itemInformation.id}}</span></span></td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.itemNumber">ItemNumber</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{itemInformation.itemNumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.vendorItemNumber">VendorItemNumber</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{itemInformation.vendorItemNumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.description">Description</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{itemInformation.description}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.vip">Vip</span>
                    </td>
                    <td>
                        <span class="form-control-static">{{itemInformation.vip}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.user">user</span>
                    </td>
                    <td>
                        {{itemInformation.user.login}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.category">category</span>
                    </td>
                    <td>
                        {{itemInformation.category.name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="jewelryApp.itemInformation.status">status</span>
                    </td>
                    <td>
                        {{itemInformation.status.name}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="listItemAdmin.newItem">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="jewelryApp.item.home.createLabel">Create a new Item</span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="jewelryApp.listItem.detail.variant">Variant</th>
                <th translate="jewelryApp.listItem.detail.size">Size</th>
                <th translate="jewelryApp.listItem.detail.color">Color</th>
                <th translate="jewelryApp.listItem.detail.tierOne">Tier One</th>
                <th translate="jewelryApp.listItem.detail.tierTwo">Tier Two</th>
                <th translate="jewelryApp.listItem.detail.tierThree">Tier Three</th>
                <th translate="jewelryApp.listItem.detail.vendorPrice">Vendor Price</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in itemInformation.items">
                <td>
                    <span> {{item.name}} </span>
                </td>
                <td>
                    <span>{{item.size.name}}</span>
                </td>
                <td>
                    <span>{{item.color.name}}</span>
                </td>
                <td>
                    <span>{{item.price.tierOne}}</span>
                </td>
                <td>
                    <span>{{item.price.tierTwo}}</span>
                </td>
                <td>
                    <span>{{item.price.tierThree}}</span>
                </td>
                <td>
                    <span>{{item.price.vendorPrice}}</span>
                </td>
                <td>
                    <img ng-src="images/{{image.name}}" ng-repeat="image in item.images" style="height:50px;"/>
                </td>
                <td>
                    <button type="submit"
                            ui-sref="listItemAdmin.editItem({idItem:item.id})"
                            class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="submit"
                            ui-sref="listItemAdmin.delete({idItem:item.id})"
                            class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="listItemAdmin"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
